@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#navbar img{
    width: 80px;
    margin-left: 100px;
}
header{
    height: 100vh;
    background:url(img/home_bg.jpeg) center center/cover no-repeat;         
}
ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar ul{
    display: flex;
    margin-left: 100px;
}
#navbar ul li a{
    padding: 15px 20px;
    margin-left: 40px;
    color: #fff ;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom: 2px solid #f0ae1f;
}
header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}
header .content h1{
    font-size: 40px;
    color: #fff;
}
header .content p{
    margin: 20px 0 40px;
    color:#fff;
}
.primary-text{
    color: #f0ae1f;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0,0.6);
}
header *{
    z-index: 10;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}
.btn-primary{
    color: #fff;
    border: 1px solid #fff;
}
.btn-primary,.btn-scondary:hover{
    background: #f0ae1f;
}
.container{
   max-width: 1100px;
   margin: auto;
}
#about{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}
#about .title ,
#offers .title,
#menu .title{
    text-align: center;
    margin-bottom: 4rem;
}
#about  h2 ,
#offers h2,
#menu h2,
#gallery h2
{
    font-size: 40px;
    margin-bottom: 20px;
}
#about  h2 ,
#menu h2
{
    color: #383838;
}
#offers h2{
    color: #f0ae1f;
}
#about .title p,
#menu .title p{
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;
}
#about .about-content{
    display: flex;
    justify-content: space-between;

}
#about .about-content img{
    width: 450px;
    text-align: center;

}
#about .about-content p{
    color: #9a9a9a;
    margin-right: 7rem;
    font-weight: 500 ;
    line-height: 1.6;
}
.btn-scondary{
    color: #fff;
    background: #383838;
    margin-top: 2rem;
}
/*Offer start*/
#offers{
    height: 80vh;
    display: flex ;
    justify-content: center;
    background: url(img/offer-background.jpg) center center/cover fixed
}
#offers .title p{
    color: #fff;
    font-weight: 500;
}
#offers .offer-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
#offers .offer-items img{
    width: 200px;
}
#offers .offer-items h3{
    font-size: 25px;
    margin: 15px 0;
}
#offers .offer-items p{
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}
#offers .offer-items  span{
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}
/*Offer end*/
/* Menu Start */
#menu{
    background: #f4f4f4;
    padding: 5rem 0;

}
#menu .menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .menu-items .menu-item img{
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
#menu .menu-items .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
#menu .menu-items .menu-item h3{
    color: #383838  ;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #c2bdbd;
    position: relative;
}
#menu .menu-items .menu-item span{
    position: absolute;
    top: 0;
    right: 0;
}
#menu .btn{
    display: block;
    margin:20px auto 0;
    background: #f0ae1f;
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#menu .btn:hover{
    background: #383838;
}
/* Menu End */
/* Daytime Start */
#daytime{
    background: url(img/daytime_bg.jpeg) center center/cover fixed no-repeat;
    color: #fff;
    text-align: center;
}
#daytime .daytime-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}
#daytime .daytime-items h3{
    font-size: 30px;
    margin: 20px 0 10px;
}
#daytime .daytime-items p{
    font-weight: 500;
}
/* Daytime End */
/* Galler Start */
#gallery{
    background: url(img/offer-background.jpg) center center/cover no-repeat;
    padding: 8rem 0 6rem;
}
#gallery h2{
    color: #fff;
    display: flex;
    justify-content: center;

}
#gallery .gallery-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
#gallery .gallery-item img{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.8;
    cursor: pointer;
}
#gallery .gallery-item img:hover{
    opacity: 1;
}
/* Galler End */
/* Contact Start*/
#contact{
    padding: 5rem 0;
    background: #f4f4f4;
}
#contact .container{
    max-width: 900px;
}
#contact .contact-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact .contact-content .contact-info{
    width: 50%;
}
#contact .contact-content .contact-info div{
    margin: 30px 0;
    line-height: 1.7;
    
}
#contact .contact-content .contact-info h3{
    font-size: 28px;
    color: #383838  ;
    margin-bottom: 10px;
}
#contact .contact-content .contact-info p i{
    color: #f0ae1f;
    margin-right: 5px
}
#contact .contact-content .contact-info p{
    color: #9a9a9a;
}
#contact .contact-content .contact-info a i{
    color: #fff;
    background: #383848;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}
#contact .contact-content .contact-info a i:hover{
    background: #f0ae1f;
    color: #383848;
}
form{
    width: 50%;
}
form input,
textarea{
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background: #e3e2dd;
}
#contact .btn{
    background: #f0ae1f;
    color: #fff;
    cursor: pointer;
}
#contact .btn:hover{
    background: #383848;
}
/* Contact End*/
/* Footer Start */
#footer{
    background: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
}
#footer a{
    color: #fff;
}
/* Footer End */